mat-sidenav-container, mat-sidenav-content {
    position: relative;
    height: calc(100% - 32px);
}

.profile-image-container{
    height: auto;
    width: 150px;
    margin-top: -8px;    
}

.profile-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width:60%;
}

.fill-space {   
    flex: 1 1 auto;
}

.hamburger {
    display: block;
    margin: auto;
}
