<section class="mat-typography title-group">
    <span class="fill-space"></span>
    <h1>Contact</h1>
    <mat-divider></mat-divider>
</section>  

<mat-card>
    <mat-card-header>        
        <mat-card-title>Contact Info</mat-card-title>
        <mat-card-subtitle>
            
        </mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
        
        
        <br>
        <b>Email</b>
        <p>sjoerd-j-b@hotmail.com</p>        
        <br>    
        
       
        
    </mat-card-content>
</mat-card>